.container
  =render "overall_stats_table"
  =render "per_round_stats_table"
  =render "hole_breakdown_table"

  .row
    .col.s12
      %h4 Recent Rounds
  .row
    .col.s12
      %table.striped.centered
        =render 'rounds/round_header'
        %tbody
          =render @recent_rounds


