%tr
  -Course.statistics.each do |stat|
    %td
      -if TeeBox.statistics.include? stat
        %span=round.tee_box.send(stat)
      -else
        %span=round.send(stat)
  %td
    %span=round.course.name
  %td
    %span=round.course.location
  %td
    =link_to "Edit Round", edit_round_path(round)
    -if round.tee_box.holes.present?
      %span=" | "
      -if round.hole_statistics.present?
        -link_label = "Edit Hole Stats"
      -else
        -link_label = "Add Hole Stats To Scorecard"
      =link_to link_label, add_hole_statistics_round_path(round)

    -else
      %span=" | "
      =link_to "Add Holes To Tee Box", add_holes_round_path(round)

    %span=" | "
    =link_to "Delete", round, method: :delete, data:{confirm: "Are you sure?"}
