%thead
  %tr
    -Course.statistics.each do |stat|
      %th
        -if stat == 'name'
          %span Tee Box
        -else
          %span=stat.humanize.titleize
    %th
      %span Course
    %th
      %span Location
    %th
      %span Actions
