%tr
  -Course.statistics.each do |stat|
    %td
      -if TeeBox.statistics.include? stat
        %span=round.tee_box.send(stat)
      -else
        %span=round.send(stat)
  %td
    %span=round.course.name
  %td
    %span=round.course.location
  %td
    =link_to "Edit Round", edit_round_path(round)
    %span=" | "
    -if round.holes.present?
      -link_label = "Edit Holes"
    -else
      -link_label = "Add Holes To Scorecard"
    =link_to link_label, add_holes_round_path(round)
    -if round.holes.present?
      %span=" | "
      =link_to "Add Hole Stats", add_hole_stats_round_path(round)
