.container
  .row
    .col.s12
      %h3 All Rounds
  .row
    .col.s12
      =link_to "Add Round", new_round_path, class: "btn"
  .row
    .col.s12
      %table.striped.centered
        =render 'round_header'
        %tbody
          =render @rounds
