.container
  .row
    .col.s12
      %h3 Add A Round

  =form_for @round do |f|
    .row
      -if @existing_courses.present?
        .col.s6
          .row
            .col.s12
              %p Existing Course:

          .row
            .col.s12
              =collection_select(:round, :course_id, @existing_courses, :id, :name, {prompt: "Select Existing Course..."}, {class: "browser-default"})

      .col.s6
        .row
          .col.s12
            %p New Course:

        =f.fields_for :course do |course_field|
          .row
            .input-field.col.s12
              =course_field.text_field :name
              =course_field.label :name

          .row
            .input-field.col.s6
              =course_field.text_field :city
              =course_field.label :city

            .input-field.col.s6
              =course_field.text_field :state
              =course_field.label :state

    .row
      .input-field.col.s4
        =f.number_field :score, min: 50, max: 150, step: 1, required: true
        =f.label :score

      .input-field.col.s4
        =f.number_field :rating, min: 67, max: 77, step: 0.1, required: true
        =f.label :rating, "Course Rating"

      .input-field.col.s4
        =f.number_field :slope, min: 55, max: 155, step: 1, required: true
        =f.label :slope, "Course Slope"

    .row
      .col.s3
        =f.label :date_played
        =f.date_field :date_played, class: "datepicker", required: true

    .row
      .col.s12
        =submit_tag "Save Round", class: 'btn'
        =link_to "Cancel", rounds_path

