%tr
  -Course.details.each do |detail|
    %td
      %span=course.send(detail)
  %td
    =link_to "Add Round", new_round_path(course: course)
    %span=" | "
    -if course.rounds.present?
      =link_to "Edit Rounds", "#"
%tr
  %td
    %span Tee Boxes
  %td{colspan: 3}
    %table.striped.centered
      //=render 'tee_boxes/tee_boxes_header'
      %tbody
        =render course.tee_boxes

